@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// dat bien
:root {
  --primay: #fe2c55;
  --black: #000;
  --text-color: #333;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  //size default browser
  font-size: 1.6rem;
  line-height: 1.5rem;
}

button, input, [tabindex] {
  outline: none;
  border: none;
  color: var(--text-color);
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}